<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="HillMetrics.MIND.FrontApp.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <link href="_content/MudBlazor/MudBlazor.min.css" rel="stylesheet" />

    <!-- MathJax Configuration -->
    <script>
        window.MathJax = {
            tex: {
                inlineMath: [['$', '$'], ['\\(', '\\)']],
                displayMath: [['$$', '$$'], ['\\[', '\\]']]
            },
            svg: {
                fontCache: 'global'
            }
        };

        // Function required by MudBlazor MathJax component
        window.appendMathJaxScript = function() {
            if (!document.getElementById('mathjax-script')) {
                const script = document.createElement('script');
                script.id = 'mathjax-script';
                script.src = 'https://polyfill.io/v3/polyfill.min.js?features=es6';
                script.onload = function() {
                    const mathJaxScript = document.createElement('script');
                    mathJaxScript.src = 'https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js';
                    document.head.appendChild(mathJaxScript);
                };
                document.head.appendChild(script);
            }
        };
    </script>

    <HeadOutlet />
</head>

<body>
    <Routes @rendermode="@InteractiveServer" />
    <script src="_content/MudBlazor/MudBlazor.min.js"></script>
    <script src="_framework/blazor.web.js"></script>
    <script src="js/app.js"></script>
</body>

</html>
